body{
  background-image: url("../images/office2.jpg");
  background-size: cover;
}
#intro{
  text-align: center;
  margin-top: 200px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #EC0973;

}
button{
  position: absolute;
  margin-left: 45%;
  margin-top: 50px;
}
