body{
  /*background-image: url("../images/me.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
  opacity: 200;*/

}
.header {
  font-family: Righteous;
  color: #88CFDE;
  text-align: center;
  height: 40px;
  margin-top: 10px;
  font-size: 40px
}
img{
  width: 300px;
  height: 300px;
  border-color: black
  border-width:10px;
  border-style: hidden;
  border-radius: 50%;
  float:left;
  margin-top: 45px;
}
#navbar{
  padding-right: 60px;
  float: right;

}
#navbar li{
  list-style-type: none;
  display: inline;
  float: right;
  padding: 6px;
  font-family: 'Nunito Sans', sans-serif;
}
#navbar li a{
  text-decoration: none;
  color: black;
}
.about{
  font-family: 'Roboto Mono', monospace;
  margin-left: 400px;
  margin-top: 60px;
}
.softdev{
  margin-top: 70px;
  font-family: 'Roboto Mono', monospace;
}
