body{
  background-image: url("../images/office2.jpg");
  background-size: cover;
}
#intro{
  text-align: center;
  margin-top: 200px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #D42F2F;

}
button{
  position: absolute;
  margin-left: 45%;
  margin-top: 50px;
  font-family: 'VT323', monospace;
  font-size: 30px;
  border-radius: 38px;
  height: 20px;
  padding: 20px;
  padding-bottom: 50px;
}
