.header {
  font-family: Righteous;
  color: #88CFDE;
  text-align: center;
  height: 100px;
  margin-top: 50px;
  font-size: 40px
}
img{
  width: 150px;
  height: 200px;
  border-color: black
  border-width:2px;
  border-style: solid;
  border-radius: 50%;
}
